{% load i18n %}{% autoescape off %}
2 	{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
3
4 	{% trans "Please go to the following page and choose a new password:" %}
5 	{% block reset_link %}
6 	{{ protocol }}://{{ domain }}{% url 'userauth:password_reset_confirm' uidb64=uid token=token %}
7 	{% endblock %}
8 	{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
9
10 	{% trans "Thanks for using our site!" %}
11
12 	{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
13
14 	{% endautoescape %}
